:root {
  --titre-font: "Lovelo";
  --sous-titre-font: "Alatsi";
  --texte-font: "Farro";
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

form{
    border:solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1em, 5em;
    gap: 1.75em;
    margin: 0;
    padding: 2em 5em;
    width: fit-content;
    font-family: var(--texte-font);
    background-color: #b3d3bc; 
}
.consultDiv span {
    font-size: 1.5em;
}



.divForm input{
    height: 2em;
}


.submit { 
    background-color: #fffdea;
    padding: 0.3em;
}

label{
    font-size: 1.5em;
}


.divForm {
    display: flex;
    flex-direction: column;
    gap:0.25em;
}

h1{
    font-size: 3em;
    color: #1C6D80;
}

body{
    background-color: #fffdea;
}
