@import '../Global.css';

:root {
  --titre-font: "Lovelo";
  --sous-titre-font: "Alatsi";
  --texte-font: "Farro";
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fffdea;

}

.formulaire{
    border:solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.75em;
    margin: 0;
    padding: 2em 5em;
    width: fit-content;
    font-family: var(--texte-font);
    background-color: #b3d3bc; 
    margin: 2em auto;
}



.divForm input{
    height: 2em;
}

.submit{ 
    background-color: #fffdea;
    padding: 0.3em;
}

label{
    font-size: 1.5em;
}

.divBtnForm {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.divForm {
    display: flex;
    flex-direction: column;
    gap:0.25em;
}

.consultDiv {
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 3em;
    color: #1C6D80;
}
