@import "../Global.css";

.cart,
.article-grid {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 1em;
}

.cart {
    padding: 2em 5em;
    max-width: 80%;
}

label {
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.article-name {
    font-size: 1.5em;
    grid-column: 2 / 3;
    grid-row: 1;
    align-self: center;
    justify-self: left;
    font-family: "Farro-Bold", sans-serif;
}

.article-container {
    padding: 1em;
}

.article-description {
    font-size: 1em;
    grid-row: 2;
    grid-column: 2;
}

.article-price {
    font-size: 1.5em;
    grid-column: 3;
    grid-row: 3;
    align-self: self-end;
    justify-self: self-end;
    font-family: "Alatsi", sans-serif;

}

.article-grid {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 2em 2em;
}

.article-image {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1 / 4;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--police-generale);
}

h1 {
    font-family: var(--police-titre);
}

form {
    border: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1em, 5em;
    gap: 1.75em;
    margin: 0;
    padding: 2em 5em;
    width: fit-content;
    font-family: var(--texte-font);
    background-color: #b3d3bc;
}


.divForm input {
    height: 2em;
}


.submit {
    background-color: #fffdea;
    padding: 0.3em;
}

label {
    font-size: 1.5em;
}


.divForm {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

h1 {
    font-size: 3em;
    color: #1C6D80;
}

body {
    background-color: #fffdea;
}

.image {
    max-width: 300px;
    max-height: 100%;
}