@import "../Global.css";

.cart,
.article-grid {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 1em;
}

.cart {
    padding-left: 1em;
}

label {
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.article-name {
    font-size: 1.5em;
}

.article-container {
    padding: 1em;
}

.article-description {
    font-size: 1.2em;
}

.article-price {
    font-size: 2em;
    grid-column: 3;
    grid-row: 3;
}

.article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.article-image
{
    width: 40em;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--police-generale);
}

h1 {
    font-family: var(--police-titre);
}

form {
    border: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1em, 5em;
    gap: 1.75em;
    margin: 0;
    padding: 2em 5em;
    width: fit-content;
    font-family: var(--texte-font);
    background-color: #b3d3bc;
}


.divForm input {
    height: 2em;
}


.submit {
    background-color: #fffdea;
    padding: 0.3em;
}

label {
    font-size: 1.5em;
}


.divForm {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

h1 {
    font-size: 3em;
    color: #1C6D80;
}

body {
    background-color: #fffdea;
}

.image {
    max-width: 30em;
    max-height: 30em;
}