@import "../Global.scss";

$bg-body: #fffdea;
$bg-form: #b3d3bc;
$bg-submit: #fffdea;
$text-color: #1C6D80;

// Body
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $bg-body;

  h1 {
    font-size: 3em;
    color: $text-color;
    font-family: $police-titre;
  }
}

// Form
form {
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 2em 2em;
  background-color: var();
  padding: 2em 5em;
  gap: 1em;
  margin: 0;
  width: fit-content;
  font-family: $police-generale, sans-serif;
  background-color: $bg-form;

  .submit {
    background-color: $bg-submit;
    padding: 0.3em;
  }

  label {
    font-size: 1.5em;
    font-family: $police-generale, sans-serif;
  }

  .divForm {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    h2 {
      font-family: $police-soustitre;
    }
  }
}

.input-group {
  display:flex;
  flex-direction: column;
}

.nom-input {
  
}

.prenom-input {
      grid-column: 1;
    grid-row: 1 / 4;
}